html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.inner {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.cmn-section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.cmn-section-title .section-jp-title {
  font-size: 3.6rem;
  font-weight: medium;
  margin-bottom: 1.8rem;
}

.cmn-section-title .section-en-title {
  font-size: 1.2rem;
  color: #FF5F32;
}

.cmn-btn-wrapper .section-btn {
  display: block;
  width: 42rem;
  margin: 5rem auto 0;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  text-align: center;
  color: #FF5F32;
  border: 1px solid #FF5F32;
  border-radius: 3rem;
  -webkit-transition: .6s;
  transition: .6s;
}

.cmn-btn-wrapper .section-btn.change-btn {
  background-color: #FF5F32;
  color: #fff;
  -webkit-transition: .6s;
  transition: .6s;
}

.footer {
  height: 13.2rem;
  text-align: center;
}

.footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 12rem;
  max-width: 54rem;
  margin: 0 auto;
}

.footer .footer-inner .site-logo {
  margin: 0.6rem 0 0 0;
  width: 11.8rem;
}

.footer .footer-inner .footer-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-inner .footer-nav .nav-list .nav-item {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 5.6rem;
}

.footer small {
  color: #9B9B9B;
  padding-bottom: 0.4rem;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.header.header-bgc {
  background-color: #fff;
  opacity: 0.8;
  -webkit-transition: .6s;
  transition: .6s;
}

.header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-inner .site-logo {
  margin: 4.5rem 0 0 6rem;
}

.header .header-inner .site-logo:hover {
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-inner .header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-inner .header-nav .nav-list .nav-item {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 5.6rem;
  padding: 5.5rem 0 2.8rem 0;
}

.header .header-inner .header-nav .nav-list .nav-item:hover {
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

.fv {
  position: relative;
}

.fv::before {
  content: '';
  background-color: #FAFAFA;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
}

.fv::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  background-image: url("../img/home/mv.png");
  background-size: cover;
  width: 70%;
  height: 85rem;
}

.fv .fv-main-wrapper {
  padding: 30rem 0 0 0;
}

.fv .fv-main-wrapper .main-title {
  font-size: 4.8rem;
}

.fv .fv-main-wrapper .sub-title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.fv .fv-main-wrapper .btn-wrapper .more-btn {
  display: inline-block;
  font-size: 1.8rem;
  background-color: #FF5F32;
  color: #fff;
  width: 19.2rem;
  padding: 1.6rem 0;
  border-radius: 3rem;
  border: 1px solid #FF5F32;
  text-align: center;
  -webkit-transition: .6s;
  transition: .6s;
}

.fv .fv-main-wrapper .btn-wrapper .more-btn:first-child {
  margin-right: 0.8rem;
}

.fv .fv-main-wrapper .btn-wrapper .more-btn.change-fv-btn {
  background-color: #fff;
  color: #FF5F32;
  border: 1px solid #FF5F32;
  -webkit-transition: .6s;
  transition: .6s;
}

.fv .news-wrapper {
  margin-top: 15.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  opacity: 0.7;
  max-width: 98rem;
  padding: 4rem 0 2rem 4rem;
  border-radius: 1.6rem;
}

.fv .news-wrapper .news {
  font-size: 1.8rem;
  color: #FF5F32;
  margin-right: 3.2rem;
}

.fv .news-wrapper .news-list .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fv .news-wrapper .news-list .news-item .news-date {
  font-size: 1.4rem;
  color: #5D5D5D;
  margin-right: 2rem;
}

.fv .news-wrapper .news-list .news-item .news-title {
  font-size: 1.6rem;
  text-decoration: underline;
}

.fv .news-wrapper .news-list .news-item .news-title:hover {
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

.fv .news-wrapper .news-list .news-item:nth-child(n+2) {
  margin-top: 1rem;
}

.type {
  background-color: #FAFAFA;
  padding: 6rem 0 10rem 0;
}

.type .type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.type .type-list .type-item {
  width: calc((100% - 14.4rem)/4);
  text-align: center;
  font-size: 1.8rem;
}

.type .type-list .type-item img:hover {
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

.type .type-list .type-item .type-name {
  margin-top: 2.6rem;
}

.type .type-list .type-item:nth-child(n+5) {
  margin-top: 5rem;
}

.store {
  padding: 6rem 0 10rem 0;
}

.store .img-wrapper {
  margin: 0 auto;
  width: 67.2rem;
}

.blog {
  background-color: #FAFAFA;
  padding: 6rem 0 10rem 0;
}

.blog .blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog-list .blog-item {
  width: calc((100% - 14.4rem)/4);
  padding: 1rem;
  border-radius: 1rem;
}

.blog .blog-list .blog-item:hover {
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.blog .blog-list .blog-item img {
  width: 20.8rem;
  height: 20.8rem;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .blog-list .blog-item img:hover {
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

.blog .blog-list .blog-item .blog-title {
  font-size: 1.6rem;
  margin-top: 2.8rem;
}

.blog .blog-list .blog-item .blog-date {
  font-size: 1.2rem;
  color: #9B9B9B;
  margin-top: 1rem;
}

.about {
  background-image: url("../img/home/about.jpg");
  background-size: cover;
  padding: 9.6rem 0 10rem 0;
}

.about .about-texts-wrapper {
  margin: 4.5rem 0 8.4rem 42rem;
  width: 47rem;
}

.about .about-texts-wrapper .about-copy {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.6rem;
}

.about .about-texts-wrapper .about-texts {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #5D5D5D;
}
/*# sourceMappingURL=style.css.map */