.blog {
  background-color: cl(smoke);
  padding: 6rem 0 10rem 0;
  .blog-list {
    display: flex;
    justify-content: space-between;
    .blog-item {
      width: calc((100% - 14.4rem)/4);
      padding: 1rem;
      border-radius: 1rem;
      &:hover {
        background-color: cl(white);
        transition: .3s;
      }
      img {
        width: 20.8rem;
        height: 20.8rem;
        border-radius: 1rem;
        object-fit: cover;
        &:hover {
          opacity: 0.7;
          transition: .3s;
        }
      }
      .blog-title {
        font-size: 1.6rem;
        margin-top: 2.8rem;
      }
      .blog-date {
        font-size: 1.2rem;
        color: cl(gray2);
        margin-top: 1rem;
      }
    }
  }
}