.fv {
  position: relative;
  &::before {
    content: '';
    background-color: cl(smoke);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -2;
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    background-image: url('../img/home/mv.png');
    background-size: cover;
    width: 70%;
    height: 85rem;
  }
  .fv-main-wrapper {
    padding: 30rem 0 0 0;
    .main-title {
      font-size: 4.8rem;
    }
    .sub-title {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
    .btn-wrapper {
      .more-btn {
        display: inline-block;
        font-size: 1.8rem;
        background-color: cl(orange);
        color: cl(white);
        width: 19.2rem;
        padding: 1.6rem 0;
        border-radius: 3rem;
        border: 1px solid cl(orange);
        text-align: center;
        transition: .6s;
        &:first-child {
          margin-right: 0.8rem;
        }
        &.change-fv-btn {
          background-color: cl(white);
          color: cl(orange);
          border: 1px solid cl(orange);
          transition: .6s;
        }
      }
    }
  }
  .news-wrapper {
    margin-top: 15.2rem;
    display: flex;
    background-color: cl(white);
    opacity: 0.7;
    max-width: 98rem;
    padding: 4rem 0 2rem 4rem;
    border-radius: 1.6rem;
    .news {
      font-size: 1.8rem;
      color: cl(orange);
      margin-right: 3.2rem;
    }
    .news-list {
      .news-item {
        display: flex;
        .news-date {
          font-size: 1.4rem;
          color: cl(gray);
          margin-right: 2rem;
        }
        .news-title {
          font-size: 1.6rem;
          text-decoration: underline;
          &:hover {
            opacity: 0.7;
            transition: .3s;
          }
        }
        &:nth-child(n+2) {
          margin-top: 1rem;
        }
      }
    }
  }
}