.type {
  background-color: cl(smoke);
  padding: 6rem 0 10rem 0;
  .cmn-section-title {
    text-align: center;
    margin-bottom: 3rem;
    .section-jp-title {
      font-size: 3.6rem;
      font-weight: medium;
    }
    .section-en-title {
      font-size: 1.2rem;
      color: cl(orange);
    }
  }
  .type-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .type-item {
      width: calc((100% - 14.4rem)/4);
      text-align: center;
      font-size: 1.8rem;
      .type-name {
        margin-top: 2.6rem;
      }
      &:nth-child(n+5) {
        margin-top: 5rem;
      }
    }
  }
  .cmn-btn-wrapper {
    .section-btn {
      display: block;
      width: 42rem;
      margin: 5rem auto 0;
      padding: 1.5rem 0;
      font-size: 1.8rem;
      text-align: center;
      color: cl(orange);
      border: 1px solid cl(orange);
      border-radius: 3rem;
    }
  }
}